body {
  margin: 8px 16px;
  text-align: center;
  background-color: rgb(2, 14, 36);
  color: rgb(2, 14, 36);
}

header {
  background-color: aliceblue;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 32px;
  border-radius: 10%;

}

main {
  background-color: aliceblue;
  width: 30%;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 1px;
  border-radius: 3%;
}

#circles {
  display: flex;
  justify-content: center;
}

.ball {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 4px;
}
